---
layout: default
title: Jones Lab / projects
categories: 
 - projects
category: projects
---
<!-- borrowed with slight modifications from Premal Shah (https://github.com/shahpr/shahlab/tree/master)-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                Projects
            </div>
        </div>
    </div>

    <div class="bigspacer"></div>

<div class="post-list">

{% for post in site.categories.projects limit: 8 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

<div class="blog-post">
    <div class="row">
        <div class="col-lg-12"> <!-- Change this to align with "Projects" -->
            <div class="media d-flex align-items-center">
                <div class="media-body">
                    <div class="title media-heading">
                        <a href="{{ post.url }}" class="off">{{ post.title }}</a>
                    </div>
                    <div class="post">
                        {{ post.content }}
                    </div>    
                </div>

                {% if post.image %}
                <a href="{{ post.url }}">
                    <img width=200 class="ml-3" src="{{ post.image }}" alt="{{ post.title }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="bigspacer"></div>
    <div class="spacer"></div>    
</div>


{% endfor %}

</div>

<div class="infinite-spinner"></div>

<div class="row">
	<div class="col-md-12">
		<div id="scroll" class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="/research/">
						<i class="fa fa-chevron-up fa-fw"></i> Back to top
					</a>
				</li>				
			</ul>
		</
